/* El contenedor de la barra de navegación */
.lisnav {
  overflow: hidden;
  background-color: dimgray;
}

 
/* Vínculos de la barra de navegación */
.lisnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.lisnav1 a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


  /* Enlaces: cambiar de color al pasar el mouse */
.lisnav a:hover {
    background-color:gray;
    color: black;
}
  
/* Style the header */
.header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  height: 300px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 31.33%;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 60px;
  border-bottom:5px solid gray ; 
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}

#titulo2{
  color: lightgrey;
}

#titulo3{
    color:lightgrey;
}

/* Create three unequal columns that floats next to each other */
.column2 {
  float: left;
  padding: 10px;
  
}

/* Left and right column */
.column.side {
  width: 30%;
  margin-top: 30px;
  background-color: lightgray;
}

/* Middle column */
.column.middle {
  width: 65%;
  margin-top: 30px;
  background-color: lightgray;
}
p {
  font-size: 20px;
}

.column3 {
  float: left;
  width: 20%;
  padding: 10px;
  font-size: 25px;
  margin-top: 5px; 
  font-size: 20px;
  
}
.column.side2 {
  width: 30%;
  margin-top: 30px;
  
}
.column.middle2 {
  width: 65%;
  margin-top: 30px;
  background-color: lightgray;
}

.column4 {
  float: left;
  width: 31.33%;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 60px; 
}
